.navbar {
  text-align: center;
  justify-content: space-between;
}

body,
html {
  background: linear-gradient(#00abc6, #d8016de5);
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 3rem;
}

h1 {
  position: absolute;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: #0b0000;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  color: #f0c330;
  transition: 0.5s;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.addTask {
  width: 100%;
  display: flex;
  padding: 10px 0;
}

.addTask input {
  width: 90%;
  color: rgb(251, 255, 252);
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  background: none;
  padding: 1rem;
  font-size: 2rem;
  outline: none;
}

.addTask button {
  margin: 0 10px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}

.notCompleted,
.Completed {
  margin: 5px 0;
  padding: 20px;
}

h3 {
  font-size: 28px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ol li {
  width: 90%;
  list-style: none;
  padding: 1rem;
  border-radius: 15px;
  list-style-type: none;
  background: #ffffffbb;
  font-size: 25px;
}

ol.Completed li {
  background: #5dfe3d;
}

li button {
  float: right;
  font-size: 28px;
  line-height: 28px;
  margin-right: 15px;
  background: none;
  border: none;
}

footer {
  height: auto;
  font-family: "Open Sans";
  padding: 40px;
  color: rgb(0, 0, 0);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 30px;
  font-size: 15px;
}
.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  image-resolution: 1rem 0 3rem 0;
}

.social li {
  margin: 0 10px;
}

.social a {
  text-decoration: none;
  color: #0b0000;
}

.social a i {
  font-size: 1.1rem;
  transition: 0.4s ease;
}

.footer-bottom {
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
